@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-bg-1: #fbf7f0;
  --color-bg-2: #F1F0E9;
  --color-text-1: #1a1a1a;
  --color-text-2: #1B4D3E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}